.home-buttons {
    border: 2px solid #B38E5D;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    margin: 5px;
    transition: .5s;
    padding: 20px;
    text-decoration: none;
    color: #0C231E;

}

.home-buttons:hover {
    transform: scale(1.03);
    cursor: pointer;
    color: #0C231E;
    text-decoration: none;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
}
